<h2>How to set DVR Recording automatically:</h2>

<table border="0px" align="center">
<tr><td><span class="badge">1</span></td><td> Select a keyword using the user prefence screen. It can be any thing like artist name, director, or any string</td></tr>
<tr><td><span class="badge">2</span></td><td> Maximum 20 keyword can be selected, and maximum 20 programs can be recorded (based on storage spaces availability)</td></tr>
<tr><td><span class="badge">3</span></td><td> Priority would be given to highly rated movies</td></tr>
    <tr><td><span class="badge">4</span></td><td> Batch process runs everyday to record the programs based on selected keywords. Keywords can be from title of the movie, artist names, cast etc.</td></tr>
        <tr><td><span class="badge">5</span></td><td> Customer can view the currently recorded and scheduled programs through Recording status screen.</td></tr>
            <tr><td><span class="badge">6</span></td><td> Customer can delete the movies recorded as well as scheduled</td></tr>
                <tr><td><span class="badge">7</span></td><td>This way customer will be able to watch the program of their favorite stars, without manually schedule it for recording </td></tr>
                    
</table>
