<h4><b>DVR recording done automatically without you have to manually schedule the recording of your favorite stars, genres, and anything else! <br><br> All you need is setup your prefrences, and relax!!</b></h4>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="/pref">User Preference</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="/status">DVR Recording Status</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="/list">Recorded Programs</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="/process">How to setup Recoding</a></h2>
  </li>
</ul>