<h2>Enter keywords for automatically recording:</h2><input type="text" placeholder="Enter a keyword">
<br><br>

<!--<ul class="heroes">
  <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>-->

<table align="center" >
  <tr>
    <th>Keyword</th><th>Number of Movie recorded</th><th>Only maximum rated movie?</th>
  </tr>
  <tr *ngFor="let hero of heroes">
    <td><span class="badge">{{hero.name}}</span></td><td>{{hero.id}}</td><td>{{hero.highlyRated}}</td>
  </tr>
</table>
